[execution_plan]
conv1=data_type:float16
conv2=data_type:float16
conv3=data_type:float16
conv4=data_type:float16
fc5=data_type:float16
fc6=data_type:float16
pool1=data_type:float16
pool2=data_type:float16
pool3=data_type:float16
prob=data_type:float16
relu1=data_type:float16
relu2=data_type:float16
relu3=data_type:float16
relu4_post=data_type:float16
relu5=data_type:float16


